.card {
    width: 140px;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: lightgray 2px 2px 5px;
}

.card__field {
    margin: 0.5rem 0;
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.card__field .title {
    font-weight: 500;
    padding: 0.13rem;
}

.card__field .input {
    width: 60%;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}