.card {
    min-width: 140px;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: lightgray 2px 2px 5px;
}

.card__p {
    margin: 0.5rem 0;
    display: flex;
    gap: 0.25rem;
}

.card__p .title {
    font-style: italic;
}
