.icon-button {
    border: 1px solid lightgray;
    height: 1.5rem;
    border-radius: 0.25rem;
    padding: 0.125rem;
    cursor: pointer;
}

.icon-button:hover {  
    transform: scale(1.02);
    border: 1px solid gray;
}

.icon {
    height: 0.8rem;
    fill: #ffffff;
}