.loader-spinner {
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: spinner 1s linear infinite;
    margin: auto;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}